.recruit-greeting {
  max-width: 960px;
  margin: auto;
  display: flex;
  align-items: center;
  @include mq-max($bp) {
    display: block;
    margin: 0 fs(20);
  }
  &-photo {
    width: (544px/2);
    height: (544px/2);
    @include mq-max($bp) {
      display: none;
    }
    img {
      width: 100%;
    }
  }
  &-main {
    width: 100%;
    flex: 1;
    margin-right: fs(70);
    position: relative;
    &:after {
      content: "";
      display: block;
      width: 56px;
      height: 35px;
      position: absolute;
      margin: auto;
      top: 0;
      bottom: 0;
      background-image: url("../img/recruit/tri.png");
      background-position: center;
      background-size: 100%;
      background-repeat: no-repeat;
      right: fs(-40);
    }
    &-inner {
      background-color: #fff;
      border-radius: 30px;
      padding: fs(40);
      @include mq-max($bp) {
        padding: fs(20);
      }
    }

    h1 {
      font-size: fs(28);
      color: #015db2;
      @include mq-max($bp) {
        font-size: fs(18);
      }
    }

    p {
      margin-top: fs(30);
      color: #015db2;
      font-weight: 700;
      font-size: fs(20);
      line-height: 1.5;
      @include mq-max($bp) {
        font-size: fs(14);
        margin-top: fs(15);
      }
    }
  }
}
